<!-- templates/agendar_consulta.html -->

{% extends 'pagina_aluno.html' %}

{% block content %}
  <h1>Agendar Consulta</h1>
  <form method="POST" action="{{ url_for('agendar_consulta') }}">
    {{ form.hidden_tag() }}

    <div class="form-group">
      <label for="psicologo_id">{{ form.psicologo_id.label }}</label>
      {{ form.psicologo_id }}
    </div>

    <div class="form-group">
      <label for="data_hora">{{ form.data_hora.label }}</label>
      {{ form.data_hora }}
    </div>

    <div class="form-group">
      {{ form.submit }}
    </div>
  </form>
{% endblock %}
